---
const { nom, infos, prix } = Astro.props
const nom_cut = nom.replaceAll(" ", "-")
---

<!-- menu-card -->

 <div class="menu-card">

  <input class="menu-hidden-checkbox" type="checkbox" name={`menu-${nom_cut}`} id={`menu-${nom_cut}`} />
  
  <!-- menu-card-front -->
  <div class="menu-card-front">

   <article class="menu-card-content">
    <h3 class="menu-card-content-txt">{nom}</h3>
    <p class="menu-card-content-txt">{infos}</p>
   </article>
   
   <div class="prix">
    <data value={prix}>{prix} €</data>
   </div>
 
  </div>
  <!-- fin menu-card-front -->

  <label class="menu-label" for={`menu-${nom_cut}`}></label>
  
  <!-- menu-card-back -->
  <div class="menu-card-back">
   
   <!-- menu-card-back-box -->
   <div class="menu-card-back-box">
    <div class="cercle">
     <span class="icon"><i class="fa-solid fa-check"></i></span>
    </div>
   </div>
   <!-- fin menu-card-back-box -->

  </div>
  <!-- fin menu-card-back -->

 </div>
 <!-- fin menu-card -->

