---
const { nom, infos, prix } = Astro.props
---

<!-- menu-card -->
<label for={`menu-${nom}`}>
 <div class="menu-card">

  <input class="menu-hidden-checkbox" type="checkbox" name={`menu-${nom}`} id={`menu-${nom}`} />
  
  <!-- menu-card-front -->
  <div class="menu-card-front">

   <div class="menu-card-content">

    <article class="menu-card-intitule">
     <h3>{nom}</h3>
     <p>{infos}</p>
    </article>
    
    <aside class="prix">
     <data value={prix}>{prix} €</data>
    </aside>

   </div>

   <div class="rideau"></div>

  </div>
  <!-- fin menu-card-front -->
  
  <!-- menu-card-back -->
  <div class="menu-card-back">
   
   <!-- menu-card-back-box -->
   <div class="menu-card-back-box">
    <div class="cercle">
     <span class="icon"><i class="fa-solid fa-check"></i></span>
    </div>
   </div>
   <!-- fin menu-card-back-box -->

  </div>
  <!-- fin menu-card-back -->

 </div>
 <!-- fin menu-card -->
</label>
